html {
    font-family: 'Open Sans', 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #e3c2b3;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    padding: 20px;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    font-weight: inherit;
}

h1 {
    margin: 10px 0 44px;
}

h3 {
    margin: 10px 0 5px;
}

h4 {
    margin: 10px 0 4px;
}

a {
    color: #e96a81;
    text-decoration: none;
}

a:hover, a:focus {
    color: rgba(233, 106, 129, 0.8);
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.template {
    display: none;
}

.container {
    padding: 30px;
    box-shadow: 0 0 6px -2px rgba(237, 237, 237, 0.2);
    background: rgba(27, 27, 27, 1.0);
    margin: 0 0 30px;
    position: relative;
}

.index-container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.table-outer {
    flex-grow: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: -20px;
}

th {
    text-align: left;
    font-weight: 400;
}

tbody tr {
    transition: background 100ms;
}

tbody tr:hover {
    background: rgb(43, 43, 43);
}

tr.highlight {
    border: 1px solid #404040;
    background: rgb(43, 43, 43);
}

th:first-child,
table tr td:first-child {
    padding-left: 20px;
}

td {
    padding: 3px 0;
}

th.time, td.time {
    width: 150px;
}

#back-nav {
    margin-bottom: 20px;
}

.tag, a.tag {
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 100ms;
    text-decoration: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    background: rgba(223, 153, 247, 0.6);
}

a.tag[href]:hover {
    box-shadow: 0px 0px 4px 0px #fff;
}

.tag.tag-category {
    background: rgba(141, 166, 206, 0.6);
}

.tag.tag-red {
    background: rgba(240, 60, 92, 0.8);
}

.inline-staff {
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    vertical-align: top;
    margin-left: 10px;
    line-height: 22px;
    color: #D7B8AA;
}

.inline-staff:before {
    content: '[';
    margin-right: -3px;
}

.inline-staff:after {
    content: ']';
    margin-left: -3px;
}

.inline-staff a {
    color: inherit;
}

.tag.tag-cell {
    margin-left: 10px;
    margin-bottom: 0;
}

#path-edit h2 {
    margin-top: 0;
}

.input {
    border: 1px solid #404040;
    padding: 6px 6px;
    font: inherit;
    border-radius: 1px;
    background: #1b1b1b;
    -webkit-transition: border 200ms, background 200ms;  
    transition: border 200ms, background 200ms;
}

.button {
    background: #1b1b1b;
    font: inherit;
    padding: 6px 20px;
    border-radius: 6px;
    border: 1px solid #404040;
    cursor: pointer;
    display: inline-block;
    color: inherit;
    -webkit-transition: border 200ms, color 200ms, background 200ms;
    transition: border 200ms, color 200ms, background 200ms;
}

.button:hover, .button:active, .button:focus {
    border-color: #e96a81;
    color: #e96a81;
    outline: none;
    text-decoration: none;
    background: rgb(43, 43, 43);
}

.button.active {
    background: #e96a81;
    color: #fff;
}

.button-text {
    background: none;
    border: none;
    color: #e96a81;
    padding: 0;
}

.button-text:hover, .button-text:focus {
    color: rgba(233, 106, 129, 0.8);
    text-decoration: underline;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #404040;
    margin: 0;
    margin-left: 10px;
    position: relative;
    vertical-align: middle;
    background: #1b1b1b;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    color: #e96a81;
}

.checkbox:checked::before {
    content: "\e604";
}

.input:focus, .input:active, .checkbox:focus, .checkbox:active, .file:active, .file:focus {
    outline: none;
    border-color: #e96a81;
}

.input:hover, .checkbox:hover {
    background: rgb(43, 43, 43);
}

input.file {
    border: 1px solid #404040;
    padding: 5px 6px;
    -webkit-transition: border 200ms;  transition: border 200ms;
}

.field-row ~ .field-row {
    margin-top: 18px;
}

.field-row label {
    margin-right: 10px;
}

#path-edit-info, #path-edit-comment {
    flex-grow: 1;
    margin-bottom: 20px;
}

#path-edit form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

#path-edit-comment textarea {
    width: 100%;
    min-height: 100px;
}

.message {
    line-height: 1.33;
    padding: 1em;
    margin: 0 0 30px;
}

.message.message-error {
    background-color: #F1D7D7;
    color: #A95252;
}

.message.message-success {
    background-color: #DEFCD5;
    color: #52A954;
}

.manga-info-outer {
    flex-shrink: 1;
    flex-grow: 1;
}

.manga-info {
    width: 248px;
    margin: 0 auto 20px;
}

.manga-info.float {
    position: fixed;
    top: 50px;
    right: 30px;
    padding: 10px 20px;
    background: #fff;
    margin-top: -10px;
    margin-left: -20px;
    box-shadow: 1px 1px 11px -4px rgba(0, 0, 0, 0.67);
}

.manga-info .year {
    color: #D7B8AA;
    font-size: .8em;
}

.manga-info img {
    display: block;
}

.manga-info h2 {
    margin-bottom: 5px;
    margin: 0 0 5px;
}

a.mu-link {
    font-size: 16px;
    text-decoration: none;
}

p.staff {
    margin: 0 0 15px;
}

#watch-series {
    margin-top: 20px;
}

.search-container {
    margin: 20px 0 12px;
}

.search-container .input,
.search-container .button {
    margin-right: 4px;
    margin-bottom: 8px;
}

.search-container > form {
    display: inline-block;
}

.search-container .mobile-break {
    display: inline-block;
}

.search-container .mobile-break:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 26px;
    background: #404040;
    margin: 5px 6px 0 1px;
    vertical-align: top;
}

.ui-autocomplete {
    background: rgba(27, 27, 27, 1.0);
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete .ui-state-focus {
    color: #e96a81;
    margin: 0;
}

footer {
    text-align: center;
}

#loli-madokami {
    background: url(/img/loli-madokami.png) no-repeat center;
    background-size: contain;
    position: absolute;  
    top: -162px;
    right: 0;
    width: 198px;
    height: 161px;
    z-index: -1;
}

#loli-madokai-container {
    position: relative;
}

.notify-label {
    display: inline-block;
    background: #e96a81;
    color: #fff;
    min-width: 22px;
    text-align: center;
    border-radius: 4px;
    margin-left: 6px;
    -webkit-transition: box-shadow 200ms;
    transition: box-shadow 200ms;
}

.button:hover .notify-label {
    box-shadow: 0px 0px 5px 0px #e96a81;
}

tr.series-paths-expand .paths {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 200ms;
    transition: height 200ms;
}

tr.series-paths-expand td {
    padding: 0;
}

tr.series-paths-expand .paths .inner {
    padding: 3px 0;
}

ul.pagination {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul.pagination li {
    display: inline-block;
    padding: 0 7px;
}

tr.dismissed {
    opacity: 0.5;
}

th a.order {
    text-decoration: none;
}

th a.order:after {
    content: "\e602";
    font-family: 'icomoon';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    font-weight: normal;
    vertical-align: middle;
    font-size: 18px;
    display: none;
}

th a.order.order-desc:after {
    content: "\e601";
}

th a.order.active:after {
    display: inline;
}

tr.report-row .expand {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 200ms;
    transition: height 200ms;
    position: relative;
}

tr.report-row h3 {
    margin-top: 0;
}

tr.report-row textarea {
    width: 100%;
    max-width: 500px;
}

tr.report-row .button {
    vertical-align: top;
}

.report-reason {
    display: inline-block;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.report-reason.test-width {
    max-width: none;
}

@media (max-width: 640px) {
    html {
        font-size: 15px;
    }

    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
    }

    .search-container .input, .search-container .button {
        display: block;
        width: 100%;
    }

    .search-container > form, .search-container .mobile-break {
        display: block;
        text-align: center;
    }

    .search-container .mobile-break:before {
        display: none;
    }

    #loli-madokai-container {
        display: none;
    }

    .mobile-files-table tr :not(:first-child) {
        display: none;
    }
}